.box {
    height: 50px;
    padding: 10px;
    background-color: #006bfa;
    border: 1px solid white;
    color: white;
    font-size: 23px;
    text-align: center;
}

.nested-box {
    background-color: #00e164;
    border: 1px solid white;
    height: 100%;
    font-size: 14px;
}

/* Media Query LG */
@media screen and (max-width: 992px) {
    .container {
        max-width: 900px;
    }
    .col-lg-2 {
        flex-basis: calc( (100% / 12) * 2);
        max-width: calc( (100% / 12) * 2);
    }
    .col-lg-12 {
        flex-basis: calc( (100% / 12) * 12);
        max-width: calc( (100% / 12) * 12);
    }
}    